@model IEnumerable<Prezzieproject.Models.RequestsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Request</th>
        <th>Country</th>
        <th>Date</th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
        @item.name
<tr>
    <td>@item.name</td>
    <td>@item.country</td>
    <td>@item.requestDate.ToShortDateString()</td>
    <td>
        @Html.ActionLink("Edit", "Edit", item) |
        @Html.ActionLink("Details", "Details", new { item }) |
        @Html.ActionLink("Delete", "Delete", new { item })
    </td>
</tr>
    }

</table>
