@model IEnumerable<Prezzieproject.Models.RequestsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Requests</h2>

<p>
    <a class="btn btn-default" style="background-color:#feab33" @Html.ActionLink("Create New", "Create")</a>
</p>
<table class="table">
    <tr>
        <th>Request</th>
        <th>Country</th>
        <th>Date</th>
        <th>Options</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.userName</td>
    <td>@item.countrySouv</td>
    <td>@item.requestDate.ToShortDateString()</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { item }) |
        @Html.ActionLink("Details", "Details", new { item }) |
        @Html.ActionLink("Delete", "Delete", new { item })
    </td>
</tr>
    }

</table>
